<div class="overlay-title">
  <div class="overlay-title_icon">
     <mat-icon class="storage-icon">layers</mat-icon><!--stop_circle -->
  </div>
  <div class="overlay-title_text">Overlay Data</div>
</div>

<div class="data-card-container">
  <ul class="data-card-container_inner">

    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" value="green-area" [checked]="default" (change)="onAddOverlay($event)">
                Green area
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Green area data provided by Eindhoven Open Data in 2019
        </div>
      </div>
    </li>

    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" value="parks-playgrounds" [checked]="default" (change)="onAddOverlay($event)">
                Parks and playgrounds
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Parks and playgrounds extracted from the point of interest data by OpenStreetMap (2020)
        </div>
      </div>
    </li>

    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" value="bike-routes" [checked]="default" (change)="onAddOverlay($event)">
                Bike routes
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Bike routes data provided by Eindhoven Open Data in 2019
        </div>
      </div>
    </li>

    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" value="sports-facilities" [checked]="default" (change)="onAddOverlay($event)">
                Sports facilities
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Sports facilities (sports center, swimming pool and pitch) extracted from the point of interest data by OpenStreetMap (2020)
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" value="medical-facilities" [checked]="default" (change)="onAddOverlay($event)">
                Medical facilities
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Medical facilities (doctors) extracted from the point of interest data by OpenStreetMap (2020)
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" value="community-centers" [checked]="default" (change)="onAddOverlay($event)">
                Community centers
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Community centers extracted from the point of interest data by OpenStreetMap (2020)
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" value="sports-shops" [checked]="default" (change)="onAddOverlay($event)">
                Sports shops
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Sports shops (e.g. bicycle, outdoor shops) extracted from the point of interest data by OpenStreetMap (2020)
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" value="grocery-stores" [checked]="default" (change)="onAddOverlay($event)">
                Grocery stores
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Grocery stores (supermarkets and butchers) extracted from the point of interest data by OpenStreetMap (2020)
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" value="fast-foods" [checked]="default" (change)="onAddOverlay($event)">
                Fast foods
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Fast foods extracted from the point of interest data by OpenStreetMap (2020)
        </div>
      </div>
    </li>


    <li class="data-card card-disabled" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default" [class.mat-checkbox-disabled]="false"
              disabled>
                Air qiality (Simulated)
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card card-disabled" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default" [class.mat-checkbox-disabled]="false"
              disabled>
                Citizens' Running routes (if available)
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>

    <li class="data-card card-disabled" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default" [class.mat-checkbox-disabled]="false"
              disabled>
                Local projects (May be simulated)
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        If available, the (annoymized questionaire)data from the project in Bennekel will be used.
        <div class="desc-content">

        </div>
      </div>
    </li>
    <li class="data-card card-disabled" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default" [class.mat-checkbox-disabled]="false"
              disabled>
                Comments from citizens (Simulated)
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        <div class="desc-content">

        </div>
      </div>
    </li>
  </ul>
</div>



