<div class="overlay-title">
  <div class="overlay-title_icon">
     <mat-icon class="storage-icon">layers</mat-icon><!--stop_circle -->
  </div>
  <div class="overlay-title_text">Overlay Data</div>
</div>

<div class="data-card-container">
  <ul class="data-card-container_inner">
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Sports facilities
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Source and metadata (about this dataset) will be described concisely here.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Medical facilities
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Community centers
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Parks / playgrounds
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Shorts shops
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Groceries
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Fastfoods
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Air qiality (Simulated)
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Citizens' Running routes (if available)
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Bike path
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Green area
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Local projects (May be simulated)
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        If available, the (annoymized questionaire)data from the project in Bennekel will be used.
        <div class="desc-content">

        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Comments from citizens (Simulated)
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        <div class="desc-content">

        </div>
      </div>
    </li>
  </ul>
</div>



