<div class="overlay-title">
  <div class="overlay-title_icon">
     <mat-icon class="storage-icon">layers</mat-icon><!--stop_circle -->
  </div>
  <div class="overlay-title_text">Overlay Data</div>
</div>

<div class="data-card-container">
  <ul class="data-card-container_inner">
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Sports Participation in Eindhoven long title long
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Sports Participation in Eindhoven long title long
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
    <li class="data-card" aria-selected="false">
      <div class="data-card_title">
        <div class="title-wrapper">
          <h2 class="title-txt">
              <mat-checkbox class="data-checkbox" [checked]="default">
                Sports Participation in Eindhoven long title long
              </mat-checkbox>
          </h2>
          <span class="title-end"></span>
        </div>
      </div>
      <div class="data-card_description" aria-hidden="false">
        <div class="desc-title">Description</div>
        <div class="desc-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis felis eu lacus laoreet, ac pharetra lacus laoreet.
        </div>
      </div>
    </li>
  </ul>
</div>



