<div sidebarjs id="sideContent" aria-hidden="true">
  <button mat-button class="close-icon" id="slider-close">
    <!-- <span>close</span> -->
    <mat-icon>close</mat-icon>
  </button>
  <div class="demographydata-container">
    <h2 id="selected-neighbor"></h2>

    <div class="demography">
      <mat-accordion class="population">
        <mat-expansion-panel [expanded]="false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="panel-title">Population</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="population-content">
            <div class="demography_each">
              <span class="demography_each_title">Total (2020):</span>
              <span class="demography_each_data">
                <span id="demography-totalpop"></span>
                <span class="demography_each_data_average">&nbsp;(avg. 2123)</span>
              </span>
            </div>
            <div class="demography_each">
              <span class="demography_each_title">Men (2020):</span>
              <span class="demography_each_data">
                <span id="demography-men"></span>
                <span class="demography_each_data_average">&nbsp;(avg. 52%)</span>
              </span>
            </div>
            <div class="demography_each">
              <span class="demography_each_title">Women (2020):</span>
              <span class="demography_each_data">
                <span id="demography-women"></span>
                <span class="demography_each_data_average">&nbsp;(avg. 48%)</span>
              </span>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="age">
        <mat-expansion-panel [expanded]="false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="panel-title">Age</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="demography_each">
            <span class="demography_each_title">0-14 (2020):</span>
            <span class="demography_each_data">
              <span id="demography-age0-14"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 13%)</span>
            </span>
          </div>
          <div class="demography_each">
            <span class="demography_each_title">15-64 (2020):</span>
            <span class="demography_each_data">
              <span id="demography-age15-64"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 69%)</span>
            </span>
          </div>
          <div class="demography_each">
            <span class="demography_each_title">65 and above (2020):</span>
            <span class="demography_each_data">
              <span id="demography-age65"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 18%)</span>
            </span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="resident">
        <mat-expansion-panel [expanded]="false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="panel-title">Residents</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="demography_each">
            <span class="demography_each_title">Dutch (2020):</span>
            <span class="demography_each_data">
              <span id="demography-dutch"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 67%)</span>
            </span>
          </div>
          <div class="demography_each">
            <span class="demography_each_title">Immigrant (2020):</span>
            <span class="demography_each_data">
              <span id="demography-immigrants"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 33%)</span>
            </span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="household-income">
        <mat-expansion-panel [expanded]="false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="panel-title">Household and income</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="demography_each">
            <span class="demography_each_title">Single household (2019):</span>
            <span class="demography_each_data">
              <span id="demography-single"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 47%)</span>
            </span>
          </div>
          <div class="demography_each">
            <span class="demography_each_title">Household with kids (2019):</span>
            <span class="demography_each_data">
              <span id="demography-wKids"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 27%)</span>
            </span>
          </div>
          <div class="demography_each">
            <span class="demography_each_title">Average income per person (2019):</span>
            <span class="demography_each_data">
              <span id="demography-income"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 35161 EUR)</span>
            </span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="travelmode">
        <mat-expansion-panel [expanded]="false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="panel-title">Travel mode</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="demography_each">
            <span class="demography_each_title">Foot (2019):</span>
            <span class="demography_each_data">
              <span id="demography-foot"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 17%)</span>
            </span>
          </div>
          <div class="demography_each">
            <span class="demography_each_title">Bicycle (2019):</span>
            <span class="demography_each_data">
              <span id="demography-bike"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 42%)</span>
            </span>
          </div>
          <div class="demography_each">
            <span class="demography_each_title">Auto (2019):</span>
            <span class="demography_each_data">
              <span id="demography-auto"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 36%)</span>
            </span>
          </div>
          <div class="demography_each">
            <span class="demography_each_title">Transit (2019):</span>
            <span class="demography_each_data">
              <span id="demography-transit"></span>
              <span class="demography_each_data_average">&nbsp;(avg. 6%)</span>
            </span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
    <small class="demography-note">*avg. shows the average in the neighborhood of Eindhoven</small>
    <small class="demography-note">Source: Eindhoven in Cijfers</small>
  </div>
</div>
